@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}
.not_active {
  color: #6c757d !important;
}

/* Invoice */
#download_section {
  background-color: #fff;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company {
  float: right;
  text-align: right;
}

#company div {
  font-size: 13px;
  line-height: 1.5;
  color: #000000a2;
}

#company div a {
  color: #286cffd8;
}

#details {
  margin-bottom: 50px;
}

#client {
  padding-left: 10px;
  border-left: 6px solid #00AB55;
  float: left;
}

#client .to {
  color: #000000a2;
  font-size: 13px;
}

#client .address,
#client .email,
#invoice .date {
  font-size: 13px !important;
  line-height: 1.5 !important;
  color: #000000a2 !important;
}

h2.name {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0;
  margin-bottom: 6px;
  color: #000000d5;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #00AB55;
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
  margin: 0 0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

#table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

#table th,
#table td {
  padding: 20px;
  background: #eeeeee;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

#table th {
  white-space: nowrap;
  font-weight: normal;
}

#table td {
  text-align: right;
}

#table td h3 {
  color: #00AB55;
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

#table .no {
  color: #ffffff;
  font-size: 1em;
  background: #00AB55;
  text-align: center;
}

#table .desc {
  text-align: left;
  color: rgba(37, 37, 37, 0.829);
}

#table .unit {
  background: #dddddd;
}

#table .total {
  background: #00AB55;
  color: #ffffff !important;
}

#table td.unit,
#table td.qty,
#table td.total {
  font-size: 1em;
  font-weight: 500;
  color: rgba(37, 37, 37, 0.829);
  text-align: center;
}

#table tbody tr:last-child td {
  border: none;
}

#table tfoot td {
  padding: 10px 20px;
  background: #ffffff;
  border-bottom: none;
  font-size: 1em;
  white-space: nowrap;
}

#table tfoot tr:first-child td {
  border-top: none;
}

#table tfoot tr:last-child td {
  color: #00AB55;
  font-size: 1em;
}

#table tfoot tr td:first-child {
  border: none;
}

#thanks {
  font-size: 1.5em;
  margin-bottom: 50px;
}

#notices {
  padding-left: 10px;
  border-left: 6px solid #00AB55;
}

#notices .notice {
  font-size: 0.9em;
  color: #000000a2;
}

footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #aaaaaa;
  padding: 8px 0;
  text-align: center;
}

/* Invoice end */

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(../src/assets/banner.jpg) no-repeat top center / cover !important;
}

.glass_effect {
  background: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(10.5px) !important;
  -webkit-backdrop-filter: blur(10.5px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Apply border-bottom to all cells except the last cell */
.border-bottom-cell:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

/* Add hover effect */
.border-bottom-cell:hover {
  /* background-color: #f0f0f0; */
  /* Add other styles you want to apply when the cell is hovered */
}

marquee {
  letter-spacing: normal;
  word-spacing: normal;
  font-size: 15px;
}

.no_word_break {
  white-space: nowrap !important;
}

/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #00ab55);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #000);
} */
